.formheader{
    text-align: center;
}

#divtest {
    top: 50px;
    padding: 10px;
    position: relative;
}

.center_div{
    margin: 0 auto;
    width:40% /* value of your choice which suits your alignment */
}

.center_div1{
    margin: 0 auto;
    width:50% /* value of your choice which suits your alignment */
}
